@font-face {
  font-family: "Anton";
  src: url("/fonts/Anton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

:root {
   --mg-ff-sans: Avenir, Helvetica, sans-serif;
}

.anton {
  font-family: Anton;
}

.montserrat {
  font-family: Montserrat;
}

/*
https://ghola.dev/?primaryColor=%2300415D&otherColors=%23E23942%2C%237E7A78%3AGray&compact=false#
 */

:root {

  --mg-blue-100: #00080C;
  --mg-blue-200: #000E14;
  --mg-blue-300: #001D29;
  --mg-blue-400: #003045;
  --mg-blue-500: #00415d;
  --mg-blue-600: #09B5FF;
  --mg-blue-700: #86DBFF;
  --mg-blue-800: #D9F4FF;
  --mg-blue-900: #F7FCFF;

  --mg-red-100: #200506;
  --mg-red-200: #36080A;
  --mg-red-300: #6D1015;
  --mg-red-400: #B71B23;
  --mg-red-500: #e23942;
  --mg-red-600: #EE8A8F;
  --mg-red-700: #F7C6C8;
  --mg-red-800: #FCEDEE;
  --mg-red-900: #FEFBFB;

  --mg-gray-100: #101010;
  --mg-gray-200: #1C1B1A;
  --mg-gray-300: #373635;
  --mg-gray-400: #5D5A59;
  --mg-gray-500: #7E7A78;
  --mg-gray-600: #B3B0AF;
  --mg-gray-700: #DAD8D8;
  --mg-gray-800: #F3F3F3;
  --mg-gray-900: #FCFCFC;
}

.bg-blue-400-gradient {
  background: linear-gradient(var(--mg-blue-200),var(--mg-blue-400));
}

svg.blue-400 {
  stroke: var(--mg-blue-400);
  fill: var(--mg-blue-400);
}

ol.toc {
  list-style-type: none;
  padding-left: var(--mg-sp-3);
  padding-right: var(--mg-sp-3);
}
ol.toc li {
  margin-bottom: var(--mg-sp-2);
  padding: var(--mg-sp-2);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--mg-bw-2);
  border-color: var(--mg-gray-700);
  max-width: var(--mg-tw);
  margin-left: auto;
  margin-right: auto;
}
ol.toc li:nth-child(even) {
  background-color: var(--mg-blue-900);
}
ol.toc li:nth-child(odd) {
  background-color: var(--mg-red-900);
}
ol.toc li h5 {
  margin: 0;
  line-height: var(--mg-lh-title);
  font-weight: 500;
  font-size: var(--mg-fs-3);
}

ol.toc li p {
  margin: 0;
  max-width: var(--mg-tw);
  line-height: var(--mg-lh-copy);
}

.hype section {
  margin: 0;
  padding-left: var(--mg-sp-3);
  padding-right: var(--mg-sp-3);
  padding-top: var(--mg-sp-5);
  padding-bottom: var(--mg-sp-5);
  margin-left: auto;
  margin-right: auto;
}
.hype section h3 {
  margin: 0;
  margin-bottom: var(--mg-sp-4);
  font-size: var(--mg-fs-5);
  line-height: var(--mg-lh-title);
  text-align: center;
  color: var(--mg-black-ish);
}

.hype section p {
  margin: 0;
  font-size: var(--mg-fs-3);
  text-align: center;
  max-width: var(--mg-tw);
  line-height: var(--mg-lh-copy);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 30em) {
  .hype section {
    padding-left: 20%;
    padding-right: 20%;
  }
  .hype section h3 {
    font-size: var(--mg-fs-6);
  }
}

.what-you-get ul {
  list-style-type: none;
  padding: 0;
}
.what-you-get ul li {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--mg-sp-2);
  line-height: var(--mg-lh-copy);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--mg-sp-2);
}
.what-you-get ul li [role=img] {
  width: calc(2 * var(--mg-sp-3));
}
.what-you-get ul li :not([role=img]) {
  width: 80vw;
}
@media screen and (min-width: 30em) {
  .what-you-get ul li :not([role=img]) {
    width: 40vw;
  }
}
