:root {
  --mg-ff-sans: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}
/*
https://ghola.dev/?numColors=6&colorHex=%237c7196&secondaryColorHex=%23c8ae00&numShades=7&scaleModel=EnsureContrast&colorWheel=HandCrafted&showColorDetails=false&showContrastInfo=true&bigSwatches=true&secondaryColorChecked=false
 */

  
:root {


  --mg-blue-darkest: #151122; /* Vulcan */
  --mg-blue-darker: #201a34; /* Mirage */
  --mg-blue-dark: #201b35; /* Mirage */
  --mg-blue: #9083c0; /* Lavender Purple */
  --mg-blue-light: #cec8e3; /* Prelude */
  --mg-blue-lighter: #f3f1f8; /* Whisper */
  --mg-blue-lightest: #fcfcfd; /* Athens Gray */

  --mg-gray-darkest: #1a1a1a; /* Cod Gray */
  --mg-gray-darker: #272727; /* Mine Shaft */
  --mg-gray-dark: #282828; /* Mine Shaft */
  --mg-gray: #a1a1a1; /* Silver Chalice */
  --mg-gray-light: #d5d5d5; /* Alto */
  --mg-gray-lighter: #f5f5f5; /* Wild Sand */
  --mg-gray-lightest: #fcfcfc; /* Alabaster */
}

input:focus, button:focus {
  border-color: var(--mg-purple-light);
}

input.bg-white:focus {
  background-color: var(--mg-white-ish);
}

.bg-purple-lightest-gradient {
  background: linear-gradient(var(--mg-purple-lightest),var(--mg-white-ish));
}
.bg-purple-darkest-gradient {
  background: linear-gradient(var(--mg-purple-darkest),var(--mg-purple-darker));
}

svg.purple-dark {
  stroke: var(--mg-purple-dark);
  fill: var(--mg-purple-dark);
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
